li {
  margin-bottom: 4px;

  h3,
  span {
    display: inline-block;
    font-size: 14px;
  }

  span {
    margin-left: 4px;
  }

  .comment-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    @extend .comment-like;
  }
  
  .comment-like {
    width: 12px;
    height: 12px;
    font-size: 14px;
  }
}
