#story-nav {
  position: relative;
  display: block;
  align-items: center;
  width: 612px;
  padding: 16px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  background-color: #fff;
  
  .story-contents {
    position: relative;
    display: flex;
    height: 84px;
  }
  
}
