.background {
  width: 100%;
  height: 100vh;
  padding-top: 32px;
  background-color: #fafafa;
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    color: #262626;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    .logo {
      display: flex;
      justify-content: center;
      width: 175px;
      margin: 48px auto 10px;
      font-size: 2.6em;
      font-family: "Lobster", cursive;
      font-weight: 400;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .login-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 350px;
      width: 100%;
      margin-bottom: 10px;
      .input-box {
        margin: 32px 0 16px 0;
        .login {
          justify-content: center;
          align-items: center;
          max-width: 350px;
        }
        .login.data {
          position: relative;
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 36px;
          line-height: 36px;
          margin: 0 40px 6px 0;
          padding: 9px 0 7px 8px;
          background-color: #fafafa;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          font-size: 14px;
          cursor: text;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .button {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 9px;
        color: #fff;
        background-color: #0095f6;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        opacity: 0.3;
        pointer-events: none;
        transition: all 0.2s;
        a {
          color: inherit;
          text-decoration: none;
        }
      }

      .button.active {
        opacity: 1;
        cursor: pointer;
        pointer-events: all;
      }
    }
    .find-password {
      margin: 60px 0 30px 0;
      font-size: 14px;
      text-align: center;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
