.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 380px;
    padding: 0px 45px;
    border: var(--main-border);

    .big-logo {
      margin: 35px;
      font-size: 55px;
    }
    .inner-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        width: 100%;
        height: 40px;
        margin: 4px 0px;
        padding-left: 10px;
        border: var(--main-border);
        border-radius: 3px;
        background-color: #fafafa;
      }
      a {
        width: 100%;
      }
      input::placeholder {
        color: #999999;
        font-size: 12px;
      }
      input:focus {
        border: var(--main-border);
      }
      .btnLogin {
        width: 100%;
        height: 30px;
        margin: 10px 0px;
        border: none;
        border-radius: 5px;
        background-color: #0095f6;
        font-weight: bold;
        color: white;
        font-size: 13.5px;
        text-align: center;
        vertical-align: middle;
      }
      .btnLogin:disabled {
        background-color: #b2dffc;
      }
      .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 0px;
        color: #8e8eab;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        .line-through {
          position: relative;
          top: -2px;
          width: 40%;
          height: 2px;
          background-color: #8e8eab;
          opacity: 0.3;
        }
      }
    }

    .forget-pwd {
      margin-top: 35px;
      color: #365f89;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
