.footer {
  position: relative;
  margin-left: 16px;

  .insta-footer {
    position: relative;
    font-size: 11px;
    color: #c7c7c7;
    line-height: 10px;
    margin-bottom: 16px;

    li {
      display: inline-block;
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
      list-style-position: inside;

      &:not(:last-child)::after {
        color: #a5a5a5;
        font-size: 11px;
        content: "\00B7";
      }
      
      a {
        color: #c7c7c7;
        text-decoration: none;
      }
    }
  }
  
  span {
      color: #c7c7c7;
    }
}
