h3 {
  font-size: 14px;
  font-weight: 600;
  color: #1f2d3d;
  line-height: 1.25;
}

p,
span {
  font-size: 12px;
  line-height: 14px;
}

.gray {
  position: relative;
  display: inline-block;
  color: #8e8e8e;
  font-weight: 400;
}

.blue {
  position: relative;
  display: inline-block;
  width: 34px;
  padding: 0;
  text-align: right;
  cursor: pointer;
  color: #0095f6;
  font-weight: 600;
}

.bold {
  position: relative;
  display: block;
  padding: 0;
  font-weight: 600;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  main {
    position: relative;
    width: 935px;
    height: auto;
    margin: 0 auto;
    padding: 84px 0 30px 0;
  }
}
