.feeds {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border-radius: 3px;

  .feed {
    position: relative;
    margin-bottom: 60px;
    background-color: #fff;
    border: 1px solid #dbdbdb;

    .feed-header {
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      padding: 16px;

      .card {
        position: relative;
        display: flex;
        align-items: center;
        width: auto;

        .card-img {
          position: relative;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          width: auto;
          line-height: 18px;
          margin-left: 12px;
        }
      }

      .feed-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        margin: 8px;
        background-color: transparent;
        border: 0;
        font-size: 22px;
        cursor: pointer;
      }
    }

    .feed-img {
      .user-img {
        position: relative;
        width: 614px;
        z-index: 0;
      }
    }

    .feed-footer {
      .feed-reaction {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        padding: 0 8px;

        .feed-btns {
          display: flex;
          justify-content: flex-start;
          width: 100%;

          .feed-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            margin: 8px;
            background-color: transparent;
            border: 0;
            font-size: 22px;
            cursor: pointer;

            .far,
            .fas {
              font-size: 22px;
            }
          }
        }

        .feed-btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          margin: 8px;
          background-color: transparent;
          border: 0;
          font-size: 22px;
          cursor: pointer;

          .far {
            font-size: 22px;
          }
        }
      }
    }

    .feed-article {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 16px;

      .feed-content {
        position: relative;
        display: flex;
      }

      .feed-comments {
        position: relative;
        display: flex;
        width: 100%;

        .comments-list {
          margin-left: 0;
          padding-left: 0;
          list-style-type: none;
          list-style-position: inside;
        }
      }
    }

    .input-comment {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 55px;
      padding: 0 16px;
      border-top: 1px solid #efefef;

      .fa-smile {
        padding: 8px 16px 8px 0;
        font-size: 24px;
      }

      .comment {
        display: flex;
        width: 100%;
        height: 18px;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        resize: none;
        font-size: 14px;
        text-align: start;
        overflow: hidden;
      }
      
      .comment-submit {
        display: block;
        border: none;
        width: 34px;
        padding: 0;
        background-color: transparent;
        font-size: 14px;
      }
    }
  }
}
