.content-story {
  position: relative;
  padding: 15px 0;
  border: 1px solid #dbdbdbdb;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  .story-wrap {
    position: relative;
    left: 0;
    display: flex;
    transition: all 0.2s;
    .story-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      cursor: pointer;
      .story-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
      > p {
        width: 66px;
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #292929;
      }
    }
  }
  .story-button-wrap {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 40px;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    .story-button {
      display: inline-block;
      height: 100%;
      background: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_9e0e7ad2c7e4.png/9e0e7ad2c7e4.png)
        no-repeat;
      background-size: 510px 477px;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      &.story-prev {
        width: 42px;
        background-position: -291px -225px;
      }
      &.story-next {
        width: 49px;
        background-position: -290px -270px;
      }
      &.story-prev.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      &.story-next.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}
